@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  min-width: 50rem;
  color: #fff;
}
header .container-logo {
  position: relative;
  height: 12rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #183153;
  background-image: url("https://images.pexels.com/photos/19036675/pexels-photo-19036675/free-photo-of-ciudad-punto-de-referencia-libros-viaje.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  background-repeat: no-repeat;
  background-size: auto;
}
header .container-logo img {
  width: 9.8rem;
  height: 9.8rem;
  background-color: #fff;
  border-radius: 11rem;
}
header .container-logo .container-nombre-biblioteca {
  display: flex;
  flex-direction: column;
  color: #fffefb;
}
header .container-logo .container-nombre-biblioteca h1 {
  width: auto;
  height: 5.2rem;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  padding: 2rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  transition: all 0.3s ease;
}
header .container-logo .container-nombre-biblioteca h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff6200;
}
header .container-generadorSvg {
  position: absolute;
  overflow: hidden;
}
header .container-generadorSvg .generadorSvg {
  width: 100%;
  height: 100%;
}
header .container-generadorSvg .generadorSvg .colorSvg {
  stroke: none;
  fill: #183153;
}

nav {
  position: fixed;
  min-width: 50rem;
  z-index: 1;
}
nav .container-secciones {
  background-color: #183153;
  height: 9.5rem;
  display: flex;
  justify-content: space-between;
  gap: 14rem;
  border-top: 0.3rem solid #646464;
  border-bottom: 0.3rem solid #646464;
}
nav .container-secciones .secciones {
  display: flex;
  width: 30rem;
  padding: 4rem;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
}
nav .container-secciones .secciones .fa-solid {
  width: 2.2rem;
  height: 2.2rem;
  color: #B9B2B2;
  font-size: 3rem;
}
nav .container-secciones .secciones p {
  width: 14.6rem;
  height: 4.5rem;
  color: #fff;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav .container-secciones .secciones-menu {
  position: fixed;
  top: -16rem;
  left: 40rem;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  width: 80%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  max-width: 414px;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-top: 4px solid #f7f7f7;
  overflow-x: hidden;
  display: none;
  transition: opacity 0.3s ease;
}
nav .container-secciones .secciones-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 3.3rem;
}
nav .container-secciones .secciones-menu ul li {
  padding: 10px;
  transition: transform 0.3s;
  margin-bottom: 4rem;
}
nav .container-secciones .secciones-menu ul li a {
  color: #183153;
  text-decoration: none;
}
nav .container-secciones .secciones-menu ul li:last-child {
  border-bottom: none;
}
nav .container-secciones .secciones-menu ul li:hover {
  transform: translateX(50px);
  border-left: 1px solid #ff6200;
  background-color: #f7f7f7;
}
nav .container-secciones .secciones-menu .fa-regular {
  font-size: 4rem;
  margin-top: 2rem;
  margin-right: 2rem;
  color: #ff6200;
  cursor: pointer;
}
nav .container-secciones .show-menu {
  display: flex;
  justify-content: space-between;
  opacity: 1; /* Cuando se muestra el menú, configurar la opacidad a 1 */
}
nav .container-secciones .container-angle-right {
  width: 5.3rem;
  height: 5.3rem;
  margin-top: 3rem;
  cursor: pointer;
}
nav .container-secciones .container-angle-right .fa-solid {
  stroke-width: 0.2rem;
  color: #B9B2B2;
  font-size: 3rem;
}

.container-description {
  width: 22rem;
  margin: 0 auto;
  margin-top: -6rem;
  font-size: 1.7rem;
}
.container-description h3 {
  margin-bottom: 1rem;
}

footer {
  min-width: 45rem;
}
footer .footer {
  z-index: 2;
  --footer-background:#183153;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  color: #fff;
}
footer .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
footer .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
footer .footer .content {
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
footer .footer .content a, footer .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
footer .footer .content b {
  color: white;
}
footer .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
footer .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer .content > div > div {
  margin: 0.25rem 0;
}
footer .footer .content > div > div > * {
  margin-right: 0.5rem;
}
footer .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header {
    min-width: 82rem;
  }
  header .container-logo {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 60rem;
    background-color: #fff;
  }
  header .container-logo .container-nombre-biblioteca {
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 3rem;
  }
  header .container-logo .container-nombre-biblioteca span {
    font-size: 4rem;
  }
  header .container-generadorSvg {
    width: 82rem;
    height: 15rem;
    top: 45rem;
  }
  nav {
    min-width: 82rem;
    top: -1rem;
  }
  footer {
    min-width: 82rem;
  }
  footer .footer .bubbles {
    width: 76rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    min-width: 151rem;
  }
  header .container-logo {
    background-color: #fff;
    color: #000;
    height: 82rem;
    justify-content: center;
  }
  header .container-logo img {
    width: 21.8rem;
    height: 21.8rem;
    margin: 0 auto;
    margin-top: 4rem;
  }
  header .container-logo .container-nombre-biblioteca {
    align-items: center;
    margin: 0 auto;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 4vw;
  }
  header .container-logo .container-nombre-biblioteca span {
    font-size: 6rem;
  }
  header .container-generadorSvg {
    width: 151rem;
    height: 15rem;
    top: 67rem;
  }
  nav {
    min-width: 151rem;
    top: -1rem;
  }
  footer {
    min-width: 151rem;
  }
  footer .footer .bubbles {
    width: 134rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  header {
    min-width: 142rem;
    height: 40vh;
  }
  header .container-logo {
    justify-content: center;
    background-color: #fff;
    color: #000;
    gap: 3rem;
    height: 28rem;
    top: 4rem;
  }
  header .container-logo .container-nombre-biblioteca {
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 3vw;
  }
  header .container-logo .container-nombre-biblioteca span {
    font-size: 4rem;
  }
  nav {
    min-width: 144rem;
    top: -1rem;
  }
  footer {
    min-width: 142rem;
  }
  footer .footer .bubbles {
    width: 134rem;
  }
}
@media (min-width: 1441px) and (max-width: 1880px) {
  header {
    min-width: 196rem;
    height: 40vh;
  }
  header .container-logo {
    justify-content: center;
    background-color: #fff;
    color: #000;
    gap: 3rem;
    height: 28rem;
    top: 4rem;
  }
  header .container-logo .container-nombre-biblioteca {
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 1.5vw;
  }
  header .container-logo .container-nombre-biblioteca span {
    font-size: 5rem;
  }
  nav {
    min-width: 196rem;
    top: -1rem;
  }
  footer {
    min-width: 196rem;
  }
  footer .footer .bubbles {
    width: 185rem;
  }
}
@media (min-width: 1881px) and (max-width: 2560px) {
  header {
    min-width: 240rem;
    height: 30vh;
  }
  header .container-logo {
    justify-content: center;
    background-color: #fff;
    color: #000;
    gap: 3rem;
    height: 28rem;
    top: 9rem;
  }
  header .container-logo .container-nombre-biblioteca {
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 1.5vw;
  }
  header .container-logo .container-nombre-biblioteca span {
    font-size: 5rem;
  }
  nav {
    min-width: 256rem;
    top: -1rem;
  }
  footer {
    width: 253rem;
  }
  footer .footer .bubbles {
    width: 240rem;
  }
}
@media (min-width: 320px) and (max-width: 2560px) {
  .secciones-menu {
    margin-top: 24rem;
  }
}

/*# sourceMappingURL=header-navbar-footer.css.map */
