* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  position: fixed;
  min-width: 36rem;
  top: -1rem;
  z-index: 1;
}
nav .container-secciones {
  background-color: #2E4A6B;
  width: 36rem;
  height: 9.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.3rem solid #646464;
  border-bottom: 0.3rem solid #646464;
}
nav .container-secciones .secciones {
  display: flex;
  width: 30rem;
  padding: 4rem;
  cursor: pointer;
  align-items: center;
  gap: 1rem;
}
nav .container-secciones .secciones .fa-solid {
  width: 2.2rem;
  height: 2.2rem;
  color: #B9B2B2;
  font-size: 3rem;
}
nav .container-secciones .secciones p {
  width: 14.6rem;
  height: 4.5rem;
  color: #fff;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
nav .container-secciones .secciones-menu {
  position: fixed;
  top: 8rem;
  left: 29rem;
  bottom: 0;
  z-index: 3;
  opacity: 0;
  width: 80%;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  max-width: 414px;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  border-top: 4px solid #f7f7f7;
  overflow-x: hidden;
  display: none;
  transition: opacity 0.3s ease;
}
nav .container-secciones .secciones-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 3.3rem;
}
nav .container-secciones .secciones-menu ul li {
  padding: 10px;
  transition: transform 0.3s;
  margin-bottom: 1rem;
}
nav .container-secciones .secciones-menu ul li a {
  color: #183153;
  text-decoration: none;
}
nav .container-secciones .secciones-menu ul li:last-child {
  border-bottom: none;
}
nav .container-secciones .secciones-menu ul li:hover {
  transform: translateX(50px);
  border-left: 1px solid #ff6200;
  background-color: #f7f7f7;
}
nav .container-secciones .secciones-menu .fa-regular {
  font-size: 4rem;
  margin-top: 2rem;
  margin-right: 2rem;
  color: #ff6200;
  cursor: pointer;
}
nav .container-secciones .show-menu {
  display: flex;
  justify-content: space-between;
  opacity: 1;
}
nav .container-secciones .container-angle-right {
  width: 5.3rem;
  height: 5.3rem;
  margin-top: 3rem;
  cursor: pointer;
}
nav .container-secciones .container-angle-right .fa-solid {
  stroke-width: 0.2rem;
  color: #B9B2B2;
  font-size: 3rem;
}

header {
  position: relative;
  min-width: 36rem;
  height: 46vh;
  color: #fff;
}
header .container-logo {
  position: relative;
  width: 36rem;
  height: 37rem;
  margin-top: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
header .container-logo img {
  width: 9.8rem;
  height: 9.8rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 11rem;
}
header .container-logo .container-nombre-biblioteca {
  width: 35rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fffefb;
}
header .container-logo .container-nombre-biblioteca h2 {
  font-size: 3rem;
}
header .container-logo .container-nombre-biblioteca h1 {
  width: auto;
  height: 5.2rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Jockey One", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2rem;
  padding: 2rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  transition: all 0.3s ease;
}
header .container-generadorSvg {
  position: absolute;
  overflow: hidden;
  width: 36rem;
  height: 9rem;
  top: 29.8rem;
}
header .container-generadorSvg .generadorSvg {
  width: 36rem;
  height: 9rem;
}
header .container-generadorSvg .generadorSvg .colorOnda_uno, header .container-generadorSvg .generadorSvg .colorOnda_dos {
  stroke: none;
  fill: #fff;
}
header .container-generadorSvg .generadorSvg .colorOnda_uno {
  display: none;
}
header video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5s;
  z-index: -1;
}

.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -143px;
  top: 132px;
  width: 210px;
  z-index: 1100;
}
.sticky-container .sticky {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.sticky-container .sticky li {
  list-style-type: none;
  background-color: transparent;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.sticky-container .sticky li fa-brands {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}
.sticky-container .sticky li p {
  display: none;
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 21px;
}
.sticky-container .sticky li p a {
  display: none;
  text-decoration: none;
  color: #2c3539;
}
.sticky-container .sticky li p a:hover {
  text-decoration: underline;
}
.sticky-container .sticky li:hover {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-left: -115px;
  margin-bottom: 2rem;
}
.sticky-container .sticky li:hover p {
  display: block;
}
.sticky-container .sticky li:hover a {
  display: block;
}

.container-description {
  width: 19rem;
  margin: 0 auto;
  margin-top: -4rem;
  font-size: 1.4rem;
}
.container-description h3 {
  margin-bottom: 1rem;
}

footer {
  min-width: 36rem;
}
footer .footer {
  z-index: 2;
  --footer-background:#183153;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
  color: #fff;
}
footer .footer .bubbles {
  width: 28rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
footer .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
footer .footer .content {
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
footer .footer .content a, footer .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
footer .footer .content b {
  color: white;
}
footer .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
footer .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer .content > div > div {
  margin: 0.25rem 0;
}
footer .footer .content > div > div > * {
  margin-right: 0.5rem;
}
footer .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@media (min-width: 375px) and (max-width: 2560px) {
  .secciones-menu {
    margin-left: 12rem;
  }
}
@media (min-width: 361px) and (max-width: 430px) {
  header {
    min-width: 43rem;
    margin-top: 8rem;
    height: 59rem;
  }
  header .container-logo {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 43.1rem;
    height: 50rem;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 43.1rem;
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    font-size: 1.4rem;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 2rem;
  }
  header .container-generadorSvg {
    width: 43.1rem;
    height: 6rem;
    top: 53rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 43.1rem;
    height: 6rem;
  }
  nav {
    min-width: 43rem;
    top: -1rem;
  }
  nav .container-secciones {
    min-width: 43rem;
  }
  nav .container-secciones .secciones-menu {
    margin-left: 5rem;
  }
  footer {
    min-width: 43rem;
  }
  footer .footer .bubbles {
    width: 38rem;
  }
}
@media (min-width: 431px) and (max-width: 767px) {
  header {
    min-width: 76.7rem;
  }
  header .container-logo {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 76.7rem;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 76rem;
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    font-size: 2rem;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 4rem;
  }
  header .container-generadorSvg {
    width: 76.7rem;
    top: 30rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 76.7rem;
  }
  nav {
    min-width: 76.7rem;
  }
  nav .container-secciones {
    min-width: 76.7rem;
  }
  footer {
    min-width: 76.7rem;
  }
  footer .footer .bubbles {
    width: 70rem;
  }
}
@media (min-width: 768px) and (max-width: 834px) {
  header {
    min-width: 83.4rem;
    height: 85.7rem;
  }
  header .container-logo {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 83.4rem;
    color: #000;
    height: inherit;
  }
  header .container-logo img {
    width: 21.8rem;
    height: 21.8rem;
    margin: 0 auto;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 76.8rem;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    font-size: 4vw;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 6rem;
  }
  header .container-generadorSvg {
    width: 83.4rem;
    height: 15rem;
    top: 71.3rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 83.4rem;
    height: 15rem;
  }
  nav {
    min-width: 83.4rem;
    top: -1rem;
  }
  nav .container-secciones {
    min-width: 83.4rem;
  }
  footer {
    min-width: 83.4rem;
  }
  footer .footer .bubbles {
    width: 74rem;
  }
}
@media (min-width: 835px) and (max-width: 1440px) {
  header {
    min-width: 144rem;
    height: 100vh;
  }
  header .container-logo {
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 144rem;
    color: #000;
    height: 77.9rem;
  }
  header .container-logo img {
    width: 21.8rem;
    height: 21.8rem;
    margin: 0 auto;
    margin-top: 4rem;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 1440px;
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    width: inherit;
    font-size: 3vw;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 6rem;
  }
  header .container-generadorSvg {
    width: 144rem;
    height: 9rem;
    top: 74.8rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 149rem;
    height: 9rem;
  }
  header .container-generadorSvg .generadorSvg .colorOnda_dos {
    fill: #fff;
  }
  nav {
    min-width: 144rem;
    top: -1rem;
  }
  nav .container-secciones {
    min-width: 144rem;
  }
  footer {
    min-width: 144rem;
  }
  footer .footer .bubbles {
    width: 134rem;
  }
}
@media (min-width: 1441px) and (max-width: 1880px) {
  header {
    min-width: 188rem;
    height: 100vh;
  }
  header .container-logo {
    justify-content: center;
    gap: 3rem;
    width: 188rem;
    height: 78.4rem;
    background-size: cover;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 188rem;
    align-items: center;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    width: inherit;
    font-size: 3.5vw;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 6.5rem;
  }
  header .container-generadorSvg {
    width: 188rem;
    height: 9rem;
    top: 78rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 188rem;
    height: 9rem;
  }
  header .container-generadorSvg .generadorSvg .colorOnda_dos {
    fill: #fff;
  }
  nav {
    min-width: 188rem;
    top: -1rem;
  }
  nav .container-secciones {
    min-width: 188rem;
  }
  footer {
    min-width: 188rem;
  }
  footer .footer .bubbles {
    width: 174rem;
  }
}
@media (min-width: 1881px) and (max-width: 1920px) {
  nav {
    width: 190rem;
    top: -1rem;
  }
  nav .container-secciones {
    min-width: 190rem;
  }
  header {
    width: 190rem;
    height: 89vh;
  }
  header .container-logo {
    justify-content: center;
    color: #000;
    gap: 3rem;
    width: 190rem;
    height: 75rem;
    background-size: cover;
  }
  header .container-logo img {
    width: 30rem;
    height: 30rem;
    border-radius: 20rem;
  }
  header .container-logo .container-nombre-biblioteca {
    width: 70rem;
    text-align: center;
  }
  header .container-logo .container-nombre-biblioteca h2 {
    width: inherit;
    font-size: 3rem;
  }
  header .container-logo .container-nombre-biblioteca h1 {
    font-size: 4rem;
  }
  header .container-generadorSvg {
    width: 190rem;
    height: 15rem;
    top: 67.4rem;
  }
  header .container-generadorSvg .generadorSvg {
    width: 190rem;
    height: 15rem;
  }
  header .container-generadorSvg .generadorSvg .colorOnda_dos {
    fill: #fff;
  }
  footer {
    width: 190rem;
  }
  footer .footer .bubbles {
    width: 172rem;
  }
}

/*# sourceMappingURL=header-navbar-footer.css.map */
