*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


$font-jockey-one: 'Jockey One', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$color-background-nav: #2E4A6B;
$color-background-footer: #183153;
$color-border-nav: #646464;
$color-text: #000;
$color-icon: #B9B2B2;
$color-white: #fff;
$color-orange: #FD9158;
$color-dark-gray: #353430;
$color-shadow-cards: rgb(6 5 5);
