@use './reset';
nav{
    position: fixed;
    min-width: 32rem;
    width: 36rem;
    top: -1rem;
    z-index: 1;
    .container-secciones{
        background-color: reset.$color-background-nav;
        width: 36rem;
        height: 9.5rem;
        display: flex;
        justify-content: space-between;
        border-top: 0.3rem solid reset.$color-border-nav;
        border-bottom: 0.3rem solid reset.$color-border-nav;
        .secciones{
            display: flex;
            width: 30rem;
            padding: 4rem;
            cursor: pointer;
            align-items: center;
            gap: 1rem;
            .fa-solid{
                width: 2.2rem;
                height: 2.2rem;
                color: reset.$color-icon;
                font-size: 3rem;
            }
            p{
                width: 14.6rem;
                height: 4.5rem;
                color: reset.$color-white;
                text-align: center;
                font-family: reset.$font-jockey-one;
                font-size: 2.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .secciones-menu {
            position: fixed;
            top: 8rem;
            left: 29rem;
            bottom: 0;
            z-index: 3;
            opacity: 0;
            width: 80%;
            background: #fff;
            box-shadow: 0 5px 20px rgba(0,0,0,.2);
            max-width: 414px;
            transform: translateX(-100%);
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            border-top: 4px solid #f7f7f7;
            overflow-x: hidden;
            display: none;
            transition: opacity 0.3s ease;
            ul{
                list-style-type:none ;
                padding: 0;
                margin: 0 auto;
                margin-top: 6rem;
                font-size: 3.3rem;
                li{
                    padding: 10px;
                    transition: transform 0.3s;
                    margin-bottom: 1rem;
                    a{
                        color: #183153;
                        text-decoration: none;
                    }
                }
                li:last-child{
                    border-bottom: none;
                }
                li:hover{
                    transform: translateX(50px);
                    border-left: 1px solid #ff6200;
                    background-color: #f7f7f7;
                }
            }
            .fa-regular{
                font-size: 4rem;
                margin-top: 2rem;
                margin-right: 2rem;
                color: #ff6200;
                cursor: pointer;
            }
        }
        .show-menu {
            display: flex;
            justify-content: space-between;
            opacity: 1;
        }
        .container-angle-right{
            width: 5.3rem;
            height: 5.3rem;
            margin-top: 3rem;
            cursor: pointer;
            .fa-solid{
                stroke-width: 0.2rem;
                color: reset.$color-icon;
                font-size: 3rem;
            }
        }
    }
}

header{
    position: relative;
    min-width: 32rem;
    width: 36rem;
    height: auto;
    color: reset.$color-white;
    .container-logo{
        position: relative;
        width: 36rem;
        height: 37rem;
        margin-top: 8.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
        img{
            width: 9.8rem;
            height: 9.8rem;
            margin: 0 auto;
            background-color: reset.$color-white;
            border-radius: 11rem;
        }
        .container-nombre-biblioteca{
            width: 30rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #fffefb;
            h2{
                font-size: 3rem;
            }
            h1{
                width: auto;
                height: 5.2rem;
                font-size: 1.5rem;
                text-align: center;
                font-family: reset.$font-jockey-one;
                font-style: normal;
                font-weight: 500;
                line-height: 1.2rem;
                padding: 2rem;
                overflow: hidden;
                white-space: nowrap; 
                margin: 0 auto; 
                letter-spacing: .15em;
                transition: all 0.3s ease;
            }
        }
        

    }
    .container-generadorSvg{
        position: absolute;
        overflow: hidden;
        width: 36rem;
        height: 9rem;
        top: 30.8rem;
        .generadorSvg{
            width: 36rem;
            height: 9rem;
            .colorOnda_uno, .colorOnda_dos{
                stroke: none;
                fill: reset.$color-white;
            }
            .colorOnda_uno{
                display: none;
            }
        }
    }
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5s;
        z-index: -1;
    }
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-143px;
    top:132px;
    width:210px;
    z-index: 1100;
    .sticky{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        li{
            list-style-type:none;
            background-color:transparent;
            color:#efefef;
            height:43px;
            padding:0px;
            margin:0px 0px 1px 0px;
            -webkit-transition:all 0.25s ease-in-out;
            -moz-transition:all 0.25s ease-in-out;
            -o-transition:all 0.25s ease-in-out;
            transition:all 0.25s ease-in-out;
            cursor:pointer;
            fa-brands{
                float: left;
                margin: 5px 4px;
                margin-right: 5px;
            }
            p{
                display: none;
                padding-top: 5px;
                margin: 0px;
                line-height: 16px;
                font-size: 21px;
                a{
                    display: none;
                    text-decoration: none;
                    color: #183153;
                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
        li:hover{
            p{
                display: block;
            }
            a{
                display: block;
            }
            display: flex;
            flex-direction: row;
            gap: 4rem;
            margin-left: -115px;
            margin-bottom: 2rem;
        }
    }
}

.container-description{
    width: 19rem;
    margin: 0 auto;
    margin-top: -4rem;
    font-size: 1.4rem;
    h3{
        margin-bottom: 1rem;    
    }
}

footer{
    min-width: 32rem;
    width: 36rem;
    .footer {
        z-index: 2;
        background: reset.$color-background-footer;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:12rem;
        color: reset.$color-white;
        .bubbles {
            width: 28rem;
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:1rem;
            background: reset.$color-background-footer;
            filter:url("#blob");
            .bubble {
                position: absolute;
                left:var(--position, 50%);
                background:reset.$color-background-footer;
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
            }
        }
        .content {
            z-index: 4;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding:2rem;
            background:reset.$color-background-footer;
            a, p {
                color:#F5F7FA;
                text-decoration:none;
            }
            b {
                color:white;
            }
            p {
                margin:0;
                font-size:.75rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.25rem 0;
                    >* {
                        margin-right:.5rem;
                    }
                }
                .image {
                    align-self: center;
                    width:4rem;
                    height:4rem;
                    margin:0.25rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
}

@keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
}
@keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
}

@media (min-width: 375px) and (max-width: 2560px) {
    .secciones-menu {
        margin-left: 12rem;
    }
}


//celulares
@media(min-width: 361px) and (max-width: 430px){
    header{
        min-width: 43rem;
        margin-top: 8rem;
        height: 59rem;
        .container-logo{
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: 43.1rem;
            height: 50rem;
            .container-nombre-biblioteca{
                width: 43.1rem;
                align-items: center;
                h2{
                    font-size: 2.4rem;
                }
                h1{
                    font-size: 2rem;
                }
            }
        }
        .container-generadorSvg{
            width: 43.1rem;
            height: 6rem;
            top: 53rem;
            .generadorSvg{
                width: 43.1rem;
                height: 6rem;
            }
        }
    }
    nav{
        min-width: 43rem;
        top:-1rem;
        .container-secciones{
            min-width: 43rem;
            .secciones-menu{
                margin-left: 5rem;
            }
        }
    }
    footer{
        min-width: 43rem;
        .footer{
            .bubbles{
                width: 38rem;
            }
        }
    }
}
//tabletas

@media (min-width: 431px) and (max-width:767px){
    header{
        min-width: 76.7rem;
        .container-logo{
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: 76.7rem;
            .container-nombre-biblioteca{
                width: 76rem;
                align-items: center;
                h2{
                    font-size: 2rem;
                }
                h1{
                    font-size: 4rem;
                }
            }
        }
        .container-generadorSvg{
            width: 76.7rem;
            top: 30rem;
            .generadorSvg{
                width: 76.7rem;
            }
        }
    }
    nav{
        min-width: 76.7rem;
        .container-secciones{
            min-width: 76.7rem;
        }
    }
    footer{
        min-width: 76.7rem;
        .footer{
            .bubbles{
                width: 70rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 834px){
    header{
        min-width: 83.4rem;
        height: 85.7rem;
        .container-logo{
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: 83.4rem;
            color: reset.$color-text;
            height: inherit;
            img{
                width: 21.8rem;
                height: 21.8rem;
                margin: 0 auto;
            }
            .container-nombre-biblioteca{
                width: 76.8rem;
                align-items: center;
                margin: 0 auto;
                gap: 2rem;
                h2{
                    font-size: 4vw;
                }
                h1{
                    font-size: 6rem;
                }
            }
        }
        .container-generadorSvg{
            width: 83.4rem;
            height: 15rem;
            top: 71.3rem;
            .generadorSvg{
                width: 83.4rem;
                height: 15rem;
            }
        }
    }
    nav{
        min-width: 83.4rem;
        top: -1rem;
        .container-secciones{
            min-width: 83.4rem;
        }
    }
    footer{
        min-width:83.4rem;
        .footer{
            .bubbles{
                width: 74rem;
            }
        }
    }
}

//laptops
@media (min-width: 835px) and (max-width: 1440px){
    header{
        min-width: 144rem;
        height: 100vh;
        .container-logo{
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            width: 144rem;
            color: reset.$color-text;
            height: 77.9rem;
            img{
                width: 21.8rem;
                height: 21.8rem;
                margin: 0 auto;
                margin-top: 4rem;
            }
            .container-nombre-biblioteca{
                width: 1440px;
                align-items: center;
                h2{
                    width: inherit;
                    font-size: 3vw;
                }
                h1{
                    font-size: 6rem;
                }
            }
        }
        .container-generadorSvg{
            width: 144rem;
            height: 9rem;
            top: 74.8rem;
            .generadorSvg{
                width: 149rem;
                height: 9rem;
                .colorOnda_dos{
                    fill: reset.$color-white;
                }
            }
        }
    }
    nav{
        min-width: 144rem;
        top: -1rem;
        .container-secciones{
            min-width: 144rem;
        }
    }
    footer{
        min-width: 144rem;
        .footer{
            .bubbles{
                width: 134rem;
            }
        }
    }
}

@media (min-width: 1441px) and (max-width: 1880px){
    header{
        min-width: 188rem;
        height: 100vh;
        .container-logo{
            justify-content: center;
            gap: 3rem;
            width: 188rem;
            height: 78.4rem;
            background-size: cover;
            .container-nombre-biblioteca{
                width: 188rem;
                align-items: center;
                h2{
                    width: inherit;
                    font-size: 3.5vw;
                }
                h1{
                    font-size: 6.5rem;
                }
            }
        }
        .container-generadorSvg{
            width: 188rem;
            height: 9rem;
            top: 78rem;
            .generadorSvg{
                width: 188rem;
                height: 9rem;
                .colorOnda_dos{
                    fill: reset.$color-white;
                }
            }
        }
    }
    nav{
        min-width: 188rem;
        top: -1rem;
        .container-secciones{
            min-width: 188rem;
        }
    }
    footer{
        min-width: 188rem;
        .footer{
            .bubbles{
                width: 174rem;
            }
        }
    }
}

@media (min-width: 1881px) and (max-width:1920px){
    nav{
        width: 190rem;
        top: -1rem;
        .container-secciones{
            min-width: 190rem;
        }
    }
    header{
        width: 190rem;
        height: 89vh;
        .container-logo{
            justify-content: center;
            color: reset.$color-text;
            gap: 3rem;
            width: 190rem;
            height: 75rem;
            background-size: cover;
            img{
                width: 30rem;
                height: 30rem;
                border-radius: 20rem;
            }
            .container-nombre-biblioteca{
                width: 70rem;
                text-align: center;
                h2{
                    width: inherit;
                    font-size: 3rem;
                }
                h1{
                    font-size: 4rem;
                }
            }
        }
        .container-generadorSvg{
            width: 190rem;
            height: 15rem;
            top: 67.4rem;
            .generadorSvg{
                width: 190rem;
                height: 15rem;
                .colorOnda_dos{
                    fill: reset.$color-white;
                }
            }
        }
    }
    footer{
        width: 190rem;
        .footer{
            .bubbles{
                width: 172rem;
            }
        }
    }
}

// @media (min-width: 1921px){
//     header{
//         width: 190rem;
//         height: 100vh;
//         .container-logo{
//             justify-content: center;
//             background-color: reset.$color-white;
//             color: reset.$color-text;
//             gap: 3rem;
//             width: 190rem;
//             height: 83.9rem;
//             top: 8rem;
//             background-size: cover;
//             .container-nombre-biblioteca{
//                 align-items: center;
//                 h1{
//                     font-size: 1.5vw;
//                 }
//                 span{
//                     font-size: 5rem;
//                 }
//             }
//         }
//         .container-generadorSvg{
//             width: 190rem;
//             height: 15rem;
//             top: 77rem;
//             .generadorSvg{
//                 .colorOnda_uno{
//                     display: none;
//                 }
//                 .colorOnda_dos{
//                     fill: reset.$color-white;
//                 }
//             }
//         }
//     }
//     nav{
//         overflow-x: hidden;
//         width: 190rem;
//         top: -1rem;
//     }
//     footer{
//         width: 190rem;
//         .footer{
//             .bubbles{
//                 width: 172rem;
//             }
//         }
//     }
// }