
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

$font-jockey-one: 'Jockey One', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$color-background-nav: #183153;
$color-border-nav: #646464;
$color-text: #000;
$color-icon: #B9B2B2;
$color-white: #fff;
$color-orange: #FD9158;
$color-dark-gray: #353430;
$color-shadow-cards: rgba(0, 0, 0, 0.08);

header{
    min-width: 50rem;
    .container-logo{
        position: relative;
        height: 12rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            width: 9.8rem;
            height: 9.8rem;
            margin-left: 3rem;
        }
        h1{
            width: 30.9rem;
            height: 6.2rem;
            color: $color-text;
            text-align: center;
            font-family: $font-jockey-one;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 2rem;
            overflow: hidden;
            border-right: .1rem solid #183153; 
            white-space: nowrap; 
            margin: 0 auto; 
            letter-spacing: .15em;
            animation: 
                typing 3.5s steps(40, end),
                blink-caret .75s step-end 1 forwards;
        }
        
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        
        /* The typewriter cursor effect */
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: #183153; }
        }

    }
}

nav{
    min-width: 50rem;
    z-index: 1;
    .container-secciones{
        background-color: $color-background-nav;
        height: 9.5rem;
        display: flex;
        justify-content: space-evenly;
        gap: 14rem;
        border-top: 0.3rem solid $color-border-nav;
        border-bottom: 0.3rem solid $color-border-nav;
        .secciones{
            display: flex;
            width: 30rem;
            padding: 4rem;
            cursor: pointer;
            align-items: center;
            gap: 1rem;
            .fa-solid{
                width: 2.2rem;
                height: 2.2rem;
                color: $color-icon;
                font-size: 3rem;
            }
            p{
                width: 11.6rem;
                height: 2.5rem;
                color: $color-white;
                text-align: center;
                font-family: $font-jockey-one;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .secciones-menu {
            position: fixed;
            left: 40rem;
            top: 9.9%;
            bottom: 0;
            z-index: 2;
            opacity: 0;
            width: 80%;
            background: #fff;
            box-shadow: 0 5px 20px rgba(0,0,0,.2);
            max-width: 414px;
            transform: translateX(-100%);
            transition: 0.5s ease-in-out;
            -webkit-transition: 0.5s ease-in-out;
            border-top: 4px solid #f7f7f7;
            overflow-x: hidden;
            display: none;
            transition: opacity 0.3s ease;
            ul{
                list-style-type:none ;
                padding: 0;
                margin: 0 auto;
                margin-top: 6rem;
                font-size: 3.3rem;
                li{
                    padding: 10px;
                    transition: transform 0.3s;
                    margin-bottom: 4rem;
                    a{
                        color: #183153;
                        text-decoration: none;
                    }
                }
                li:last-child{
                    border-bottom: none;
                }
                li:hover{
                    transform: translateX(50px);
                    border-left: 1px solid #ff6200;
                    background-color: #f7f7f7;
                }
            }
            .fa-regular{
                font-size: 4rem;
                margin-top: 2rem;
                margin-right: 2rem;
                color: #ff6200;
                cursor: pointer;
            }
        }
        .show-menu {
            display: flex;
            justify-content: space-between;
            opacity: 1; /* Cuando se muestra el menú, configurar la opacidad a 1 */
        }
        .container-angle-right{
            width: 1.3rem;
            height: 1.3rem;
            margin-top: 4rem;
            cursor: pointer;
            .fa-solid{
                stroke-width: 0.2rem;
                color: $color-icon;
                font-size: 3rem;
            }
        }
    }
}

.container-description{
    width: 22rem;
    margin: 0 auto;
    margin-top: -6rem;
    font-size: 1.7rem;
    h3{
        margin-bottom: 1rem;    
    }
}