@import './header-navbar-footer.scss';
main{
    min-width:36rem;
    margin-top: 8rem;
    article{
        width: 36rem;
        padding: 4rem;
        h1{
            text-align: center;
            font-size: 2.4rem;
            margin-bottom: 4rem;
        }
        p{
            font-size: 2.2rem;
            text-align: justify;
            margin-bottom: 2rem;
        }
    }
    .container-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36rem;
        margin-bottom: 2rem;
        button{
            background-color: $color-dark-gray;
            cursor: pointer;
            border: none;
            padding: 16px 32px;
            color: #fff;
            font-size: 24px;
            font-weight: bold;
            position: relative;
            border-radius: 12px;
            margin-bottom: 5rem;
            a{
                text-decoration: none;
                color: $color-white;
            }
        }
        button::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                45deg,
                red, blue, deeppink, blue,
                red, blue, deeppink, blue
            );
            background-size: 800%;
            border-radius: 10px;
            filter: blur(8px);
            animation: glowing 20s linear infinite;
        }
        @keyframes glowing {
            0%{
                background-position: 0 0;
            }
            50%{
                background-position: 400% 0;
            }
            100%{
                background-position: 0 0;
            }
        }
    }
}
footer{
    min-width: 36rem;
}

@media (min-width: 361px) and (max-width: 430px){
    main{
        min-width: 43rem;
        article{
            width: 43rem;
            margin: 0 auto;
        }
        .container-button{
            width: 43rem;
            button{
                margin-bottom: 5rem;
            }
        }
    }
    footer{
        min-width: 43rem;
    }
}

// @media (min-width: 1025px) and (max-width: 1440px){
//     main{
//         width: 142rem;
//         article{
//             width: 131rem;
//             margin: 0 auto;
//         }
//         .container-button{
//             width: 142rem;
//         }
//     }
// }

// @media (min-width: 1441px) and (max-width: 1880px){
//     main{
//         width: 196rem;
//         article{
//             width: 131rem;
//             margin: 0 auto;
//         }
//         .container-button{
//             width: 196rem;
//         }
//     }
// }

// @media (min-width: 1881px) and (max-width:1920px){
//     header{
//         display: none;
//     }
//     main{
//         width: 190rem;
//         article{
//             width: 138rem;
//             margin: 0 auto;
//         }
//         .container-button{
//             width: 256rem;
//         }
//     }
//     footer{
//         width: 190rem;
//     }
// }